<p>test works!</p>
<!-- @if(userRole === "admin"){
    <p>hello admin</p>
}
@else if(userRole === "ad"){

    <p>hello dd</p>
} -->

<!-- @switch(userRole)
{
    @case('user')
    {
        <p>hello user</p>
    }
    @case('admin')
    {
        <p>hello admin</p>
    }
    @default{
        <p>hello all</p>
    }
} -->
<!-- @for(i of f;track $index)
{
    <p>{{i}}</p>
} -->
    <!-- <P>HEELO {{getD}}</P> -->
     <!-- ts
     // userRole:string="lll";
    // f=['a','d','d'];
    //  @Input() getD:string='';
    //  @Input(
    //   {

    //   }
    //  ) -->

